{% extends 'base.html' %} {% load static %} {% block title %} Home {% endblock%}
{% block css %} {% endblock %} {% block content %}
<div class="box">
  <h2 class="header">
    Personal Blog
    <a href="/new" id="btn-add">+ Add</a>
  </h2>
  <ul class="article-list admin-list">
    <li>
      <span>My first article</span>
      <div class="actions">
        <a href="/edit.html" class="edit">Edit</a>
        <a href="#" class="delete">Delete</a>
      </div>
    </li>
    <li>
      <span>Second article</span>
      <div class="actions">
        <a href="/edit/2" class="edit">Edit</a>
        <a href="#" class="delete">Delete</a>
      </div>
    </li>
    <li>
      <span>Third article</span>
      <div class="actions">
        <a href="/edit/3" class="edit">Edit</a>
        <a href="#" class="delete">Delete</a>
      </div>
    </li>
    <!-- остальные статьи по аналогии -->
  </ul>
</div>

{% endblock %} {% block scripts %} {% endblock %}
