{% extends 'base.html' %} {% load static %} {% block title %} Home {% endblock%}
{% block css %} {% endblock %} {% block content %}
<div class="box">
  <h2 class="header">
    Personal Blog
    <a href="/new" id="btn-add">+ Add</a>
  </h2>
  <ul class="article-list admin-list">
    {% for article in articles %}
    <li>
      <span>{{ article.title }}</span>
      <div class="actions">
        <a href="{% url 'edit' id=article.id %}" class="edit">Edit</a>
        <a onclick="openDeleteModal()" id="deleteBtn" data-id="{{ article.id }}" data-title="{{ article.title }}"
          >Delete</a
        >
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<!-- Modal for delete form -->
<div id="deleteModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeDeleteModal()">&times;</span>
    <h2>Delete article</h2>
    <p id="deleteText"></p>
    <button onclick="deleteArticle()" class="btn" id="deleteYesBtn">Yes</button>
    </form>
  </div>
</div>

{% endblock %} {% block scripts %} {% endblock %}
