{% extends 'base.html' %} {% load static %} {% block title %} Home {% endblock%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/article_style.css' %}" />
<link rel="stylesheet" href="{% static 'css/modal_style.css' %}" />
{% endblock %} {% block content %}
<div class="box article-content">
  <h2 class="header">{{ article.title }}</h2>
  <p class="date">{{ article.date|date:"M d, Y" }}</p>
  <p>{{ article.get_content_as_html|safe }}</p>
</div>
{% include 'blog/login_modal.html' %} {% endblock %} {% block scripts %}
<!-- scripts -->
{% endblock %}
