{% extends 'base.html' %} {% load static %} {% block title %} Home {% endblock%}
{% block css %} {% endblock %} {% block content %}
<div class="box form-box">
  <h2 class="header">Update Article</h2>

  <form method="post">
    {% csrf_token %}
    <label>
      <input type="text" name="title" value="{{ article.title }}" />
    </label>

    <label>
      Content
      <textarea name="content" rows="10">{{ article.content }}</textarea>
    </label>

    <button type="submit" class="btn">Update</button>
  </form>
</div>

{% endblock %} {% block scripts %} {% endblock %}
