{% extends 'base.html' %} {% load static %} {% block title %} Home {% endblock%}
{% block css %} {% endblock %} {% block content %}
<div class="box form-box">
  <h2>Update Article</h2>

  <form>
    <label>
      Article Title
      <input type="text" name="title" value="My first article" />
    </label>

    <label>
      Publishing Date
      <input type="date" name="date" value="2024-08-07" />
    </label>

    <label>
      Content
      <textarea name="content" rows="10">
Lorem ipsum dolor sit amet ...</textarea
      >
    </label>

    <button type="submit" class="btn">Update</button>
  </form>
</div>

{% endblock %} {% block scripts %} {% endblock %}
