{% extends 'base.html' %} {% load static %} {% block title %} Home {% endblock%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/modal_style.css' %}" />
{% endblock %} {% block content %}
<div class="box">
  <h2 class="header">Personal Blog</h2>
  <ul class="article-list">
    {% for article in articles %}
    <li>
      <a href="{% url 'article' id=article.id %}">{{ article.title }}</a
      ><span>{{ article.date|date:'M d, Y' }}</span>
    </li>
    {% endfor %}
  </ul>
</div>

{% include 'blog/login_modal.html' %} {% endblock %} {% block scripts %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}
