<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Personal Blog{% endblock %}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% block css %}
    <!-- Можно добавить дополнительные стили -->

    {% endblock %}
  </head>
  <body>
    <main class="wrapper">
      {% include 'header.html' %}

      <!-- Содержимое сайта -->
      {% block content %} {% endblock %}
    </main>

    <footer>{% include 'footer.html' %}</footer>

    <script src="{% static 'js/script.js' %}"></script>
    {% block scripts %}
    <!-- Можно добавить дополнительные скрипты -->
    {% endblock %}
  </body>
</html>
